.content_container {
  margin-top: 100vh;
  background: rgba(0, 43, 4, 0.6);
  padding: 1rem 0;
}
.content_container > div {
  margin: 0 auto;
  padding-top: 1rem;
  max-width: 85vw;
}

.register_btn_container {
  width: fit-content;
  margin: 0 auto;
}
